# Merging Data Frames

Full outer Join - Analogous to set theoretic union
Inner join - analogous to set theoretic intersection

In [4]:
# Lets use an example to illustrate how to merge on Pandas
import pandas as pd
# We start by creating two data frames, staff and students
staff_df = pd.DataFrame([{"Name": "Kelly", "Role": "Director of HR"},{"Name":"Sally","Role":"Course liason"},
                            {"Name":"James", "Role":"Grader"}])

# We can index the staff by Name
staff_df = staff_df.set_index("Name")
student_df = pd.DataFrame([{"Name": "James", "School": "Business"},{"Name":"Mike","School":"Law"},
                            {"Name":"Sally", "School":"Engineering"}])
student_df = student_df.set_index("Name")
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally   Course liason
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [5]:
# To Merge
pd.merge(staff_df, student_df, how = "outer", left_index = True, right_index = True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course liason  Engineering

In [7]:
# If we wanted to get the inresection, that is, just those who are a student and a staff, 
# we could simply set the how attribute to inner
pd.merge(staff_df, student_df, how = "inner", left_index = True, right_index = True)

                Role       School
Name
Sally  Course liason  Engineering
James         Grader     Business

In [8]:
# There are two other common use cases when merging DataFrames, and both are examples of what we would call set addition. T
# The first is when we would want to get a list of all staff regardless of whether they were students or not.
# But if they were students, we would want to get their student details as well.
# To do this we would use a left Join.
# It is important to note the order of dataframes in this function: 
# the first dataframe is the left data frame and the second is the right.
pd.merge(staff_df, student_df, how = "left", left_index = True, right_index = True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally   Course liason  Engineering
James          Grader     Business

In [10]:
#shifting focus on students
pd.merge(staff_df, student_df, how = "right", left_index = True, right_index = True)

                Role       School
Name
James         Grader     Business
Mike             NaN          Law
Sally  Course liason  Engineering

In [12]:
# The merge method has a couple of other interesting parameters.
# First, You don't need to use indices to join on, you could use columns as well.
# here we have a parameter called on, and we can assign a column that both dataframes have as the joining column
# But first, we need to remove our index from both our dataframes.
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
# Now lets merge using the on parameter
pd.merge(staff_df, student_df, how = "right", on = "Name")

   index_x   Name           Role  index_y       School
0      2.0  James         Grader        0     Business
1      NaN   Mike            NaN        1          Law
2      1.0  Sally  Course liason        2  Engineering

In [15]:
# Looks like an efficient method especially when we want to merge on a non-index column
pd.merge(staff_df, student_df, how = "inner", on = "Name")

   index_x   Name           Role  index_y       School
0        1  Sally  Course liason        2  Engineering
1        2  James         Grader        0     Business

In [18]:
# Addressing conflicts
staff_df = pd.DataFrame([{"Name": "Kelly", "Role": "Director of HR","location":"State Street"},{"Name":"Sally","Role":"Course liason","location":"Wahington Avenue" },
                            {"Name":"James", "Role":"Grader","location":"Washington Avenue"}])
# Lets add location
student_df = pd.DataFrame([{"Name": "James", "School": "Business","location":"1024 Billiard Avenue"},{"Name":"Mike","School":"Law","location":"Fraternity House #22"},
                            {"Name":"Sally", "School":"Engineering","location":"512 Wilson Crescent"}])
# Conflict arises because in the staff_df the location is the office but
# in student_df, the location is the student's home
# we merge and observe the following
pd.merge(staff_df, student_df, how= "left", on = "Name")
# Observe that we get two locations each for staff who happen to be students.

    Name            Role         location_x       School            location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally   Course liason   Wahington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [28]:
# location x refers to left data column whereas location y refers to the right data column
# lets adress multi indexing and multi columns
staff_df = pd.DataFrame([{"First Name": "Kelly","Last Name":"Desjardins", "Role": "Director of HR"},{"First Name":"Sally","Last Name":"Brooks", "Role":"Course liason"},
                            {"First Name":"James","Last Name": "Wilde" ,"Role":"Grader"}])
student_df = pd.DataFrame([{"First Name": "James","Last Name":"Hammond", "School": "Business",},{"First Name":"Mike","Last Name": "Smith","School":"Law"},
                            {"First Name":"Sally","Last Name":"Brooks", "School":"Engineering"}])
# Notice that James Wilde and James Hammond dont match on both keys since they have different last names
# so we dont expect an inner join to include these individuals in the out put and oly sally brooks will be retained
pd.merge(staff_df, student_df, how= 'inner', on= ["First Name","Last Name"])

  First Name Last Name           Role       School
0      Sally    Brooks  Course liason  Engineering

In [29]:
# Joining dataframes through merging is common and we need to know how to pull data from different sources,
# clean it, and join it for analysis
# If we think of merging as Joining "horizontally", meaning we join on similar values in the column found in
# two data frames, the concatenating is joining "vertically", meaning we put dataframes on top or at the bottom of each other.
frames = [staff_df, student_df]
pd.concat(frames)

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks   Course liason          NaN
2      James       Wilde          Grader          NaN
0      James     Hammond             NaN     Business
1       Mike       Smith             NaN          Law
2      Sally      Brooks             NaN  Engineering